.ad {
    max-width: 126rem;
    margin: 10rem auto;

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.25rem;

        &__item {
            background: linear-gradient(90deg, #3b42bf 0%, #1c228c 100%);
            border-radius: 2rem;
            box-shadow: 1px 1px 1px 0px #181b52;
            padding: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1.5rem;

            h3 {
                font-size: 3rem;
                color: white;
                font-weight: 600;
            }

            i {
                font-size: 5rem;
                float: right;
                color: white;
                height: fit-content;
            }
        }
    }
}